/*
Theme Name: E-Commerce
Theme URI: https://catchthemes.com/themes/e-commerce/
Author: Catch Themes
Author URI: https://catchthemes.com/
Description: E-Commerce is a clean responsive e-commerce WordPress theme designed especially to work with a popular WooCommerce plugin. It was designed from the start to look awesome on any device. Theme provides a minimalist but modern look.
Version: 1.2
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: e-commerce
Tags: black, gray, white, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, custom-background, custom-colors, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, threaded-comments, translation-ready

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/* =Table of Contents
-------------------------------------------------------------- */

/* 
    01. CSS Reset (Normalize)
    02. Theme Base
    03. Clearfix
    04. Global margins and paddings
    05. Text-level semantics
    06. Headings
    07. Forms
    08. Buttons
    09. Tables
    10. Links
    11. Header area
    12. Layout
    13. Menus
    14. Icons (separate folder)
    15. Slider
    16. Promotion Headline
    17. Featured Content
    18. Accessibility
    19. Embedded content
    20. WordPress core styles
        20.1 - WooCommerce styles
    21. Widgets
    22. Content
    23. Asides
    24. Comments
    25. Navigation & Infinite scroll (Jetpack plugin)
    26. Footer
    27. Extra Elements
    27. Responsive design
    28. Print styles
*/


/* =01. normalize.css v3.0.1
-------------------------------------------------------------- */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}


/* =HTML5 display definitions
-------------------------------------------------------------- */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* =Links
-------------------------------------------------------------- */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

   
/* =Text-level semantics
-------------------------------------------------------------- */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* =Embedded content
-------------------------------------------------------------- */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}

/* =Grouping content
-------------------------------------------------------------- */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -webkit-box-sizing: content-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing:    content-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing:         content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* =Forms
-------------------------------------------------------------- */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 1 */
    cursor: pointer; /* 2 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `border-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing:         border-box;
    padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `content-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing:    content-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing:         content-box;    
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid rgba(0, 0, 0 ,0.1);
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
    font-weight: bold;
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =02. Theme base
-------------------------------------------------------------- */

/* Apply a natural box layout model to all elements */

*, 
*:before, 
*:after { 
    -webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing:         border-box;
}

body {
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    color: #242424;
}

/* =03. Clearfix
-------------------------------------------------------------- */

.clear:before,
.clear:after,
.wrapper:after,
.site-banner:after,
.gallery:before,
.gallery:after,
.entry-content:before,
.entry-content:after,
.navigation:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: '';
    display: table;
}

.clear:after,
.wrapper:after,
.site-banner:after,
.gallery:after,
.entry-content:after,
.navigation:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/* =04. Global margins & paddings
-------------------------------------------------------------- */

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
table,
.gallery,
blockquote,
.wp-caption,
.comment-body,
.page-links,
p:last-child,
.entry-content,
.comment-meta,
.page-content,
.entry-summary,
.entry-thumbnail,
.comments-title,
.comment-respond,
.wp-caption-text,
.comment-reply-title,
.site-main .navigation,
.site-main .comment-navigation,
.site-main .paging-navigation,
#infinite-handle {
    margin-bottom: 30px;
}

.page-links,
.page-content,
.entry-content,
.entry-summary,
.comment-body {
    margin-top: 35px;
}

.page-links,
.entry-footer,
.comments-title,
.comment-reply-title 
.site-main .navigation {
    padding-top: 35px;
}

.entry-content,
.entry-footer,
.page-title {
    padding-bottom: 35px;
}

blockquote,
.widget-area,
.comment-body,
.content-area,
.main-navigation,
.cart-contents {
    padding: 35px;
}

.archive .entry-footer {
    padding-bottom: 0;
}

/* =05. Text-level semantics
-------------------------------------------------------------- */

hr {
    border: 1px solid #fff;
}

cite {
    display: block;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

blockquote {
    border-bottom: 2px solid;
    border-top: 1px solid;
    font-size: 35px;
    line-height: 1.5;
}

/* =06. Headings
-------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

h1 {
    color: #000;
    font-size: 24px 
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 18px;
}

h4,
h5,
h6 {
    font-size: 16px;
}


.widget-title {
    margin-bottom: 10px;
    margin-top: 0;
}

/* =07. Forms
-------------------------------------------------------------- */
 
select,
textarea,
input:not([type]),
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.woocommerce-cart table.cart td.actions .coupon .input-text {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eee;
    border-radius: 3px;
    color: #444;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    padding: .618em 1em;
}

select:focus,
textarea:focus,
input:not([type]):focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    background-color: #f9f9f9;
}

select:disabled,
textarea:disabled,
input:not([type]):disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="color"]:disabled {
    cursor: none;  
}

/*
 * Reset style on iOS.
 */

textarea,
input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
    -webkit-appearance: none;
}


/* Reset height
 * Must be after size modifiers */
textarea,
select[multiple],
select[size] {
  height: auto;
}

textarea {
    width: 100%;
}

.search-form .search-field {
    -webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing:         border-box;
    margin-bottom: 20px;
    max-width: 100%;
    width: auto;
}

.search-form .search-submit {
    display: none;
}

/*
 * Placeholders
 * Higher specificity (!important) needed to override color in IE
 */
:-ms-input-placeholder {
   color: #242424 !important;
}

::-moz-placeholder {
   color: #242424;
}

::-webkit-input-placeholder {
   color: #242424;
}

:disabled:-ms-input-placeholder {
   color: #242424 !important;
}

:disabled::-moz-placeholder {
   color: #242424;
}

:disabled::-webkit-input-placeholder {
   color: #242424;
}

/*
 * Removes box-shadow for invalid controls in Firefox.
 */
:invalid {
   box-shadow: none;
}

label {
    margin-bottom: 5px;
}

/* =08. Buttons
-------------------------------------------------------------- */

button,
.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
    background-color: #ebe9eb;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #515151;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: .618em 1em;
    text-transform: uppercase;
}

/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 * 3. Required for 'a' elements
 */

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
    background-color: #dad8da;
    color: #515151;
}

/* Active */

button:active,
.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
    background-color: #000;
    color: #fff;  
}

/* Disabled */

button:disabled,
.button:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled {
    cursor: none;  
}

/*
 * Vertical alignment
 * Exclude 'radio' and 'checkbox' elements because the default 'baseline' value aligns better with text
 */
button,
input:not([type="radio"]):not([type="checkbox"]),
select {
    vertical-align: middle;
}

/* =09. Tables
-------------------------------------------------------------- */

table {
    width: 100%;
}

td,
th {
    border: 1px solid #eee;
    padding: 10px;
    text-align: left;
}

th {
    font-weight: 500;
}

/* =10. Links
-------------------------------------------------------------- */

a {
    color: #000;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #77a464;
}

/* =11. Header area
-------------------------------------------------------------- */

.site-banner,
.site-header {
    border-bottom: 1px solid #eee;
}

.site-header {
    position: relative;
}

.site-branding {
    background-color: #000;
    padding: 5px 10px 0;
    position: relative;
}

.widget-area .site-branding {
    padding: 5px 10px;
}

.site-logo,
.site-title {
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
}

.site-logo a {
    display: block;
    line-height: 0;
}

.site-title {
    
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

.header-right-enabled #header-left {
    float: left;
    padding: 35px;
    width: 75%;
}

.header-right-enabled .site-description,
.header-right-enabled .social-menu {
    text-align: left;
}

.header-right-enabled .sidebar-header-right {
    border-left: 1px solid #eee;
    float: right;
    width: 25%;
}

.sidebar-header-right ul,
.sidebar-header-right p:last-child {
    margin-bottom: 0;
}

.site-title a {
    color: #fff;
}

.site-description {
    color: #a0a3ab;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    margin: 15px 0;
    text-align: center;
    text-transform: none;
}

#header-featured-image {
    border-bottom: 1px solid #eee;
}

#header-featured-image a {
    display: block;
    line-height: 0;
}

#header-featured-image img {
    width: 100%;
    height: auto;
}

/* =12. Layout
-------------------------------------------------------------- */

.site {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

@viewport{ 
    width: device-width;
}

/* =13. Menus
-------------------------------------------------------------- */

.main-navigation {
    clear: both;
    float: left;
    text-transform: uppercase;
    width: 75%;
}

.primary-menu-center .main-navigation {
    text-align: center;
    width: 100%;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    position: relative;
}

.main-navigation a {
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.main-navigation a:hover {
    color: #77a464;
}

.main-navigation ul ul {
    border: 1px solid #eee;
    float: left;
    position: absolute;
    left: -999em;
    z-index: 99999;
    top: auto;
}

.main-navigation ul ul ul {
    left: -999em;
    padding-top: 0;
    top: 0;
}

.main-navigation ul ul a {
    background-color: #fff;
    border-bottom: 1px solid #f9f9f9;
    display: block;
    color: #242424;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    width: 240px;
}

.main-navigation ul ul a:hover {
    background-color: #f9f9f9;
}

.main-navigation ul ul li {
    text-align: left;
}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li {
    display: inline-block;
} 

.main-navigation ul li a {
    padding: 8px 12px;
}

.main-navigation ul li:hover > ul {
    left: auto;
}

.main-navigation ul ul li:hover > ul {
    left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
    color: #77a464;
}

/* Off-Canvas Navigation */

.menu-toggle {
    display: none;
    right: 15px;
    height: auto;
    position: absolute;
    top: 15px;
    z-index: 9999999;
}

.menu-icon,
.cart-icon,
#feature-slider .cycle-prev:before,
#feature-slider .cycle-next:before,
#scrollup:before {
    -webkit-font-smoothing: antialiased;
    font-family: "typicons";
    font-size: 36px;
    font-style: normal;
    font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1;
    padding: 35px 8px;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

.menu-icon {
    display: none;
}

.menu-icon:before {
    content: "\e114";
}

.sidr-open .menu-icon:before {
    content: "\e122";
}

#feature-slider .cycle-prev:before {
    content: "\e00d";
}

#feature-slider .cycle-next:before {
    content: "\e01a";   
}

.cart-icon {
    display: inline;
    font-size: 24px;
}

.cart-icon:before {
    content: "\e0e0";
}

.sidr {
    background-color: #fff;
    border-left: 1px solid #eee;
    display: none;
    font-size: 14px;
    font-weight: 300;
    height: 100%;
    overflow-x: none;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 260px;
    z-index: 999999;
}

.sidr .sidr-inner {
    padding: 35px;
}

.sidr ul {
    display: block;
    padding: 0;
}

.sidr ul li {
    display: block;
    margin: 0;
}

.sidr ul li a,
.sidr ul li span {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 5px 0;
    text-decoration: none;
}

.sidr ul li a:hover {
    color: #ffe6a5;
}

.sidr ul li ul {
    margin: 0;
}

.sidr ul li ul a {
}

.sidr ul li ul a:before {
    -webkit-font-smoothing: antialiased;
    display: inline;
    font-style: normal;
    font-smoothing: antialiased;
    font-weight: normal;
    line-height: 1;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    vertical-align: text-top;
}

.sidr ul li ul a:before {
    color: #7b7b7b;
    content: '\e049';
    margin-top: 0;
    padding-right: 10px;
}

.sidr ul li ul a:before {
    -webkit-font-smoothing: antialiased;
    font-family: "typicons";
    font-smoothing: antialiased;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    vertical-align: text-bottom;
}

.sidr.left {
    left: -260px;
    right: auto;
}

.sidr.right {
    left: auto;
    right: -260px;
}

/* Social menu */

.social-menu {
    padding: 0 0 10px 0;
    text-align: center;
}

.social-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-menu ul a:before {
    -webkit-font-smoothing: antialiased;
    display: block;
    font-family: "typicons";
    font-size: 36px;
    font-smoothing: antialiased;
    font-weight: 400;
    line-height: normal;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    vertical-align: text-bottom;
}

.social-menu ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.social-menu ul a {
    display: inline-block;
    margin: 0 3px;
    text-decoration: none;
}

.social-menu ul:last-of-type {
    margin-right: 0;
}

.social-menu ul a[href*="facebook.com"]:before {
    content: "\e0e4";
}

.social-brand-hover .social-menu ul a[href*="facebook.com"]:hover,
.social-brand-static .social-menu ul a[href*="facebook.com"] {
    color: #3b5998;
}

.social-menu ul a[href*="twitter.com"]:before {
    content: "\e0f8";
}

.social-brand-hover .social-menu ul a[href*="twitter.com"]:hover,
.social-brand-static .social-menu ul a[href*="twitter.com"] {
    color: #00aced;
}

.social-menu ul a[href*="dribbble.com"]:before {
    content: "\e0e2";
}

.social-brand-hover .social-menu ul a[href*="dribbble.com"]:hover,
.social-brand-static .social-menu ul a[href*="dribbble.com"] {
    color: #ea4c89;
}

.social-menu ul a[href*="plus.google.com"]:before {
    content: "\e0ea";
}

.social-brand-hover .social-menu ul a[href*="plus.google.com"]:hover,
.social-brand-static .social-menu ul a[href*="plus.google.com"] {
    color: #dd4b39;
}

.social-menu ul a[href*="pinterest.com"]:before {
    content: "\e0f2";
}

.social-brand-hover .social-menu ul a[href*="pinterest.com"]:hover,
.social-brand-static .social-menu ul a[href*="pinterest.com"] {
    color: #cb2027;
}

.social-menu ul a[href*="github.com"]:before {
    content: "\e0e8";
}

.social-brand-hover .social-menu ul a[href*="github.com"]:hover,
.social-brand-static .social-menu ul a[href*="github.com"] {
    color: #4183c4;
}

.social-menu ul a[href*="tumblr.com"]:before {
    content: "\e0f6";
}

.social-brand-hover .social-menu ul a[href*="tumblr.com"]:hover,
.social-brand-static .social-menu ul a[href*="tumblr.com"] {
    color: #32506d;
}

.social-menu ul a[href*="youtube.com"]:before {
    content: "\e0fc";
}

.social-brand-hover .social-menu ul a[href*="youtube.com"]:hover,
.social-brand-static .social-menu ul a[href*="youtube.com"] {
    color: #bb0000;
}

.social-menu ul a[href*="flickr.com"]:before {
    content: "\e0e6";
}

.social-brand-hover .social-menu ul a[href*="flickr.com"]:hover,
.social-brand-static .social-menu ul a[href*="flickr.com"] {
    color: #ff0084;
}

.social-menu ul a[href*="vimeo.com"]:before {
    content: "\e0fa";
}

.social-brand-hover .social-menu ul a[href*="vimeo.com"]:hover,
.social-brand-static .social-menu ul a[href*="vimeo.com"] {
    color: #aad450;
}

.social-menu ul a[href*="instagram.com"]:before {
    content: "\e0ec";
}

.social-brand-hover .social-menu ul a[href*="instagram.com"]:hover,
.social-brand-static .social-menu ul a[href*="instagram.com"] {
    color: #3f729b;
}

.social-menu ul a[href*="linkedin.com"]:before {
    content: "\e0f0";
}

.social-brand-hover .social-menu ul a[href*="linkedin.com"]:hover,
.social-brand-static .social-menu ul a[href*="linkedin.com"] {
    color: #007bb6;
}

.social-menu ul a[href*="/feed"]:before {
    content: "\e0db";
}

.social-brand-hover .social-menu ul a[href$="/feed/"]:hover,
.social-brand-static .social-menu ul a[href$="/feed/"] {
    color: #dc622c;
}


/* =14. Icons
-------------------------------------------------------------- */

/* Reference only, see /css/typicons.css */


/* =15. Slider
-------------------------------------------------------------- */

#feature-slider {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    clear: both;
    display: block;
    overflow: hidden;
    position: relative;
}

#feature-slider .cycle-slideshow { 
    margin: 0 auto; 
    padding: 0; 
    position: relative;
}

#feature-slider,
#feature-slider .wrapper,
#feature-slider .cycle-slideshow {
    width: 100%;
}

#feature-slider .cycle-slideshow img {
    display: block;
    margin: 0 auto;
}

#feature-slider .cycle-pager { 
    text-align: center; 
    width: 100%; 
    z-index: 101; 
    position: absolute; 
    bottom: 0; 
    overflow: hidden;
}

#feature-slider .cycle-pager span { 
    font-family: arial; 
    font-size: 46px;
    line-height: 20px;
    width: 14px; 
    height: 20px; 
    display: inline-block; 
    color: #f2f2f2; 
    cursor: pointer; 
    margin: 0 2px;
}

#feature-slider .cycle-pager span.cycle-pager-active { 
    color: #000;
}

#feature-slider .cycle-pager > * { 
    cursor: pointer;
}

#feature-slider .cycle-prev:before,
#feature-slider .cycle-next:before {
    display: block;
    padding: 7px;
    text-align: center;
    width: 50px;
    height: 50px;   
}

#feature-slider .cycle-prev, 
#feature-slider .cycle-next {
    background: #444;
    background: rgba(0,0,0,0.6);
    -moz-border-radius:     4px;
    -webkit-border-radius:  4px;
    border-radius:          4px;
    color: #fff;
    cursor: pointer;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0); 
    position: absolute;
    top: 47%;
    text-decoration: none; 
    -moz-transition:    all 0.2s ease-in-out; 
    -webkit-transition: all 0.2s ease-in-out; 
    transition:         all 0.2s ease-in-out;  
    z-index: 101;    
}

#feature-slider .cycle-prev {
    left: -20px;
}

#feature-slider .cycle-next {
    right: -20px;
}

#feature-slider:hover .cycle-prev { 
    left: 40px; 
    opacity: 1; 
    filter: alpha(opacity=100);
}

#feature-slider:hover .cycle-next { 
    right: 40px; 
    opacity: 1; 
    filter: alpha(opacity=100);
}

#feature-slider .cycle-slideshow .hentry { 
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    margin: 0;
    padding: 0; 
    display: block;
}

#feature-slider .cycle-slideshow article:first-child {
    position: static; 
    z-index: 100;
}

#feature-slider .slider-content-wrap {
    position: relative;
}

#feature-slider img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .2s linear;
    -moz-transition: transform .2s linear;
    -ms-transition: -ms-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
}

#feature-slider .entry-container {
    background: #303030;
    background: rgba(48,48,48,0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: normal;
    opacity: 0;
    text-align: center;
    -webkit-transition: all .2s 0 linear;
    -moz-transition: all .2s 0 linear;
    -ms-transition: all .2s 0 linear;
    -o-transition: all .2s 0 linear;
    transition: all .2s 0 linear;
}

#feature-slider .entry-container>.vcenter {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-55%) scale(1.2);
    -ms-transform: translateY(-55%) scale(1.2);
    transform: translateY(-55%) scale(1.2);
    -webkit-transition: all .2s 0 linear;
    -moz-transition: all .2s 0 linear;
    -ms-transition: all .2s 0 linear;
    -o-transition: all .2s 0 linear;
    transition: all .2s 0 linear;
}

#feature-slider .hentry:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#feature-slider .hentry:hover .entry-container  {
    box-shadow: inset 0 0 50px 0 rgba(0,0,0,.1);
    opacity: 1;
}

#feature-slider .hentry:hover .entry-container>.vcenter {
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}

#feature-slider .entry-title,
#feature-slider .entry-title a ,
#feature-slider .entry-content {
    color: #fff;
}

#feature-slider .entry-content {
    margin: 0;
    padding: 0;
}

#feature-slider .entry-content p {
    margin-top: 0;
}

#feature-slider .entry-content p:last-child {
    margin-bottom: 0;
}

.disabled { 
    opacity: .5; 
    filter:alpha(opacity=50); 
}

/* =15. Promotion Headline
-------------------------------------------------------------- */

#promotion-message {
    background-color: #77a464;
    color: #fff;
    font-size: 14px;
}

#promotion-message a {
    color: #eee;
}

#promotion-message a:hover {
    color: #fff;
}

#promotion-message .wrapper {
    padding: 0;
}

#promotion-message .left {
    float: left;
    max-width: 80%;
}
#promotion-message h2,
#promotion-message p {
    margin: 0;
}
#promotion-message .left,
#promotion-message .right {
    padding: 20px;
}
#promotion-message .right {
    float: right;
    max-width: 20%;
    text-align: center;
}

#promotion-message .right a {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    color: #666;
    display: block;
    padding: 10px 25px 6px;
}

#promotion-message .right a:hover {
    background-color: #f5f5f5;
    border-color: #666;
    color: #000;
    text-decoration: none;
}


/* =16. Featured Content 
-------------------------------------------------------------- */

#featured-content {
    border-bottom: 1px solid #eee;
}

#featured-content,
.featured-heading-wrap,
#featured-content .hentry {
    padding: 15px
}

#primary #featured-content {
    padding: 0;
}

#primary .featured-heading-wrap {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.featured-heading-wrap .entry-title {
    margin-bottom: 15px;
}
.featured-heading-wrap p:last-child {
    margin-bottom: 0;
}

#primary .featured-content-wrap {
    position: relative;
    margin-left: -15px;
}

.featured-heading-wrap p,
#featured-content #featured-heading {
    margin-top: 0;
}

#featured-content .hentry {
    float: left;
}

#featured-content.layout-four .hentry {
    width: 25%;
}

#featured-content.layout-three .hentry {
    width: 33.33%;
}

#featured-content .entry-content,
#featured-content .entry-content p {
    margin-top: 0;
    padding-bottom: 0;
}

#featured-content .entry-content p:last-child {
    margin-bottom: 0;
}

#featured-content.layout-four .hentry:nth-child(4n+1),
#featured-content.layout-three .hentry:nth-child(3n+1) {
    clear: both;
}

/* =15. Accessibility
-------------------------------------------------------------- */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    margin: 0;
    padding: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: rgba(241, 241, 241, 1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
}

/* =16. Embedded content
-------------------------------------------------------------- */

/*
 * Responsive media.
 */
 
img,
embed,
object,
video {
    height: auto;
    max-width: 100%;
}

/*
 * Google maps image fix.
 */

img[src*="maps.gstatic.com"],
img[src*="googleapis.com"] {
    max-width: none;
}

figure {
    margin: 0;
    padding: 0;
}

.entry-thumbnail {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* =17. WordPress core
-------------------------------------------------------------- */

.alignleft {
    display: inline;
    float: left;
    margin: 8px 30px 30px 0;
}

.alignright {
    display: inline;
    float: right;
    margin: 8px 0 0 30px;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 30px auto;
}

.wp-caption {
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
}

.wp-caption-text {
    color: #444;
    font-size: 12px;
    text-align: center;
}

.wp-caption .wp-caption-text {
    margin-bottom: 0.8075em; 
    margin-top: 0.8075em;
}

.gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 48%;
    max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
    max-width: 32%;
    max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
    clear: left;
}

.gallery-caption {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing:         border-box;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 6px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
}

.gallery-caption:before {
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
    filter: alpha(opacity=100);
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* =17.1 WooCommerce styles
-------------------------------------------------------------- */

/* Onsale */
 
.woocommerce span.onsale {
    line-height: 36px;
}

/* Coupon */

.woocommerce-cart table.cart td.actions .coupon .input-text {
    width: inherit !important;
}

/* Header Cart */

.count {
    color: #a0a3ab;
    font-weight: 300;
}

.amount,
.subtotal {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.cart-contents {
    border-left: 1px solid #eee;
    float: left;
    font-weight: 500;
    min-height: 112px;
    text-align: right;
    width: 25%;
}

.sidebar .search-form .search-field, 
.cart-contents .search-form .search-field {
    -webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing:         border-box;
    margin: 0;
    width: 100%;
}

/* Pagination */

.woocommerce nav.woocommerce-pagination {
    text-align: left;
}

/* Widget Cart */

.woocommerce .widget_shopping_cart .total, 
.woocommerce.widget_shopping_cart .total {
    border-top: solid;
}

.widget_shopping_cart_content .amount {
    font-size: 16px;
}

/* =18. Widgets
-------------------------------------------------------------- */

.widget {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-top: 25px;
    word-wrap: break-word;
}

.widget:nth-of-type(1) {
    margin-top: 0;
}

.widget ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
}

.widget ol {
    list-style: inside;
    padding: 0;
}

.widget ul ul {
    padding-left: 20px;
}

.widget-area {
    float: left;
    width: 25%;
}

.content-left .widget-area {
    float: right;
}

.widget li {
    padding: 8px 0;
}

.widget li:last-child {
    border: none;
}

/* Make sure select elements fit in widgets */

.widget select {
    max-width: 100%;
    margin: 25px 0;
}

/* =19. Content
-------------------------------------------------------------- */

.site-content {
    border-bottom: 1px solid #eee;
}

.content-area {
    border-left: 1px solid #eee;
    float: right;
    width: 75%;
}

.content-left .content-area {
    border-left: none;
    border-right: 1px solid #eee;
    float: left;
}

.content-width .content-area {
    border-right: 1px solid #eee;
    display: block;
    float: none;
    margin: 0 auto;
}

.full-width .content-area {
    border-left: none;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.entry-header,
.entry-footer {
    font-size: 12px;
}

.entry-footer span {
    padding-right: 5px;
}

.sticky {
}

.byline,
.updated:not(.published) {
    display: none;
}

.blog .byline,
.single .byline,
.archive .byline,
.group-blog .byline {
    display: inline;
}

.page-links {
    clear: both;
}

.edit-link {
    clear: both;
    float: right;
}

/* =20. Asides
-------------------------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/* =21. Comments
-------------------------------------------------------------- */

.reply {
    font-weight: 500;
    text-align: right;
}

.comment-body {
    border: 1px solid rgba(0, 0, 0 ,0.1);
}   

.comment-notes {
    font-size: 12px;
    font-style: italic;
}

.comment-list {
    list-style: none;
    margin-bottom: 20px;
    padding-left: 0;
}

.comment-list .children {
    list-style: none;
}

.comment-content a {
    word-wrap: break-word;
}

.comments-area label {
    display: none;
}

.bypostauthor {
}

.form-allowed-tags {
    display: none;
}

.comment-author .avatar {
    display: block;
    margin: 8px 0 10px;
    padding-right: 10px;
    float: left;
}

.says {
    display: none;
}

.comment-metadata a {
    color: rgba(0, 0, 0 ,0.5);
    font-size: 14px;
    font-weight: 500;
}

.comment-form-comment {
    margin: 0;
    padding: 0;
}

.comments-link {
    float: right;
}

.archive .cat-links,
.archive .tags-links,
.archive .comments-link {
    display: none;
}

/* =22. Navigation & Infinite scroll (Jetpack plugin)
-------------------------------------------------------------- */

/* Content navigation */

.site-content .navigation {
    border: 1px solid #eee;
    padding: 35px;
}

.nav-previous {
    float: left;
    text-align: left;
}

.nav-next {
    float: right;
    text-align: right;
}

.wp-pagenavi a, 
.wp-pagenavi span {
    border: none;
    font-weight: 400;
    margin: 0;
    padding: 4px 8px;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
    background-color: #ebe9eb;
    color: #8a7e88;
    font-weight: 400;
}

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
    display: block;
}

#infinite-handle span {
    background-color: transparent;
    border: 1px solid #eee;
    color: #000;
    display: block;
    font-weight: 400;
    padding: 35px;
    text-align: center;
}

#infinite-handle span:hover {
    background-color: #ebe9eb;
    color: #8a7e88;
}

/* =23. Footer
-------------------------------------------------------------- */

#supplementary {
    border-top: 1px solid #eee;
}

#supplementary.widget-area {
    width: 100%;
}

/* Two Footer Widget Areas */
#supplementary.two .footer-col {
    float: left;
    width: 48.8%;
}

#supplementary.two .footer-col + .footer-col {
    float: right;
}

/* Three Footer Widget Areas */
#supplementary.three .footer-col {
    float: left;
    margin-right: 3%;
    width: 31.33%;
}

#supplementary.three .footer-col + .footer-col + .footer-col {
    margin-right: 0;
}

/* Four Footer Widget Areas */
#supplementary.four .footer-col {
    float: left;
    margin-right: 3%;
    width: 22.75%;
}

#supplementary.four .footer-col + .footer-col + .footer-col + .footer-col {
    margin-right: 0;
}

.site-info {
    padding: 15px;
}

.site-footer {
    border-top: 3px solid #000;
    clear: both;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    padding: 0 15px;
    text-align: center;
    vertical-align: middle;
}

.widget-area .site-footer {
    padding: 0;
    text-align: left;
}
.widget-area .site-footer .site-info  {
    padding: 10px 0 0;
}

    

#footer-left-content,
#footer-right-content {
    display: inline-block;
}

/* =27. Extra Elements
-------------------------------------------------------------- */

/* Scrollup */
#scrollup:before {
    content: "\e01e";
}

#scrollup {
    background-color: #666;
    border: 3px solid #fff;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;        
    color: #fff;
    cursor: pointer;
    display: none;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    text-decoration: none; 
    width: 40px;
    z-index: 9999;
}

#scrollup:hover {
    background-color: #000;
    color: #fff;    
    text-decoration: none;
}

/* Breadcrumb */
#breadcrumb-list {
    border-bottom: 1px solid #eee;
    padding: 15px;
} 

#breadcrumb-list .wrapper {
    padding: 0 15px;
}

#breadcrumb-list span {

}

#breadcrumb-list span.sep {
    padding-left: 2px;
    padding-right: 10px;
}

#breadcrumb-list span.breadcrumb-current {
    font-weight: 500;
}

/* =24. Responsive design
-------------------------------------------------------------- */

@media screen and (max-width: 700px) { /* Mobile devices */
 
    img,
    .alignleft,
    .alignright,
    .footer-col {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
        
    .widget-area,
    .content-area,
    .woocommerce ul.products li.product, /* WooCommerce */
    .woocommerce-page ul.products li.product,
    #promotion-message .left,
    #promotion-message .right,
    #featured-content.layout-three .hentry {
        border: none;
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        width: 100%;
    }

    #promotion-message .section {
        text-align: center;
    }
    
    #promotion-message .right {
        padding-top: 0
    }

    #featured-content .hentry {
        text-align: center;
    }

    #featured-content .hentry  .entry-title {
        margin-bottom: 10px;
    }

    #featured-content.layout-four .hentry {
        width: 50%;
    }

    #featured-content.layout-four .hentry:nth-child(2n+1) {
        clear: both;
    }

    .comment-list .children {
        padding-left: 0;
    }
    
    .main-navigation {
        display: none;
    }
    
    .icon,
    .menu-toggle {
        display: block;
    }
    
    .menu-toggle {
        background-color: #fff;
        border: 1px solid #eee;
        padding: 4px 10px;
    }

    .site-branding {
        min-height: 74px;
        padding-right: 80px;
    }

    .widget select {
        display: block;
    }

    .two-columns .site-content {
        position: relative;
        display: block;
    }

    .two-columns .content-area {
        position: static;
    }    

    .header-right-enabled #header-left {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 1px solid #eee;
    }

    .header-right-enabled #header-left,
    .header-right-enabled .sidebar-header-right,
    .cart-contents {
        width: 100%;
    }

    .header-right-enabled .site-description, 
    .header-right-enabled .social-menu {
        text-align: center;
    }

    #feature-slider .entry-container > .vcenter {
        top: 35%;
    }

    #feature-slider .entry-content {
        display: none;
    }

    #feature-slider .cycle-prev, 
    #feature-slider .cycle-next {
        top: auto;
        bottom: 10px;
    }

    #feature-slider:hover .cycle-prev { 
        left: 20px; 
    }

    #feature-slider:hover .cycle-next { 
        right: 20px; 
    }

    #feature-slider .cycle-prev:before,
    #feature-slider .cycle-next:before {
        font-size: 26px;
        height: 34px;
        padding: 4px;
        width: 34px;  
    }    
}

@media screen and (max-width: 400px) { /* Small mobile devices */
    .content-area,
    .widget-area {
        width: 100%;
    }

    #featured-content.layout-four .hentry {
        width: 100%;
    }

    .site-footer {
        font-size: 13px;
    }    

}

@media screen and (min-width: 768px) { /* Tablets */

    .content-area {
        width: 66.6666666667%;
    }
    
    .widget-area {
        width: 33.3333333333%;
    }
    
    .cart-contents .subtotal {
        font-size: 18px;
    }
        
}

/* =25. Print styles
-------------------------------------------------------------- */

/* Print styles inlined to avoid extra HTTP connection */

@media print {
    
    * {
        background: transparent !important;
        color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
        text-shadow: none !important;
        -webkit-filter: none !important;
        filter: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /* Do not show javascript and internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: ""; 
    }

    /* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
    
}